<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AndroidPerformanceTool/src/ch/usi/inf/gustarim/apt/AndroidPerformanceTool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.usi.inf.gustarim.apt.AndroidPerformanceTool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="../AndroidToolTestProject"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AndroidPerformanceTool"/>
</launchConfiguration>
